[Unit]
Description=bench-ruby
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/isucon5-qualify/eventapp
EnvironmentFile=/home/isucon/env.bench.sh
User=isucon

ExecStart=/home/isucon/.local/ruby/bin/bundle exec foreman start
ExecStop=/usr/bin/kill -QUIT $MAINPID

[Install]
WantedBy=multi-user.target
