[Unit]
Description=isuxi-ruby
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/webapp/ruby
EnvironmentFile=/home/isucon/env.sh
Environment=RACK_ENV=production
PIDFile=/home/isucon/webapp/ruby/unicorn.pid

ExecStart=/home/isucon/.local/ruby/bin/bundle exec unicorn -c unicorn_config.rb -p 8080
ExecStop=/bin/kill -QUIT $MAINPID
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
